<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397572321624-448418qetuc7jv3sjdga8jechlei0pu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397572321624-448418qetuc7jv3sjdga8jechlei0pu5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397572321624-499l7dsh05fl40h5jgon8iqusdf1oet8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC72hEpZdQQJPOEFxYwRXXVf-_cTAbi1yM</string>
	<key>GCM_SENDER_ID</key>
	<string>397572321624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blocsol.loanapp.com</string>
	<key>PROJECT_ID</key>
	<string>financial-services-55edc</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-services-55edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397572321624:ios:7c4beb1cbcdea848b0f52d</string>
</dict>
</plist>